*{
  margin: 0;
  padding: 0;
}
  
html{
  background-image:url(img/backg-font.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  font-family:"menlo";
  
  }

/*body {
    
    font-family: "menlo";
}*/

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "menlo";
}

.container input{
  margin:40px;  
}

#pokedex{
  margin-left: 40px;
  margin-top: -15px;
}

#logo{
  height: 250px;
  width: 450px;
}

#welcome{
  color: white;
  font-size: 25px;
  background-color: rgba(255, 4, 4, 0.596);
  padding: 30px;
  border-radius: 30px;
}

.container.container-1{
  display: block;
  display: flex;
}

.container.container-2{
  display: none;
}

#go-link{
  height: 50px;
  width: 50px;
}


.container-bar {
  display: flex;
  text-align:center;
  justify-content:center;
  width: 100%;
  height: 10%;
  background: #d82b2e;
  position:absolute;
  font-size: 23px;
  align-content:space-between; 
}



.container-bar a {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 30px 100px 0px 0px;
  
}

.container-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  text-align:center;
}

.container-bar ul li a{
  display: block;
  color: white;
  text-decoration: none;
  width: 150px;
  
}

.container-bar ul after{
  content: ""; 
  clear:both;
  display:block;
}

.container-bar ul li {
  float: left;
  list-style:none;
}

.container-bar ul ul {
  display: none;
}

.container-bar ul li:hover > ul {
  display: block;
}

.container-bar ul li:hover {
  background: #d82b2e;
  transition: all 0.3s;
}

.container-bar ul li:hover a{
  color:white;
}

.container-bar ul ul {
  padding:0;
  margin:0;
  position: absolute; top:100%;

  background: rgb(216,43,46);
    background: linear-gradient(90deg, rgba(216,43,46,0.7077205882352942) 0%, rgba(216,43,46,0.7077205882352942) 35%);  
}

.container-bar ul ul li a {
  padding:15px  50px;
  color: white;
  width:150px;
  text-align:center;
  font-size: 19px;
}

.container-bar ul ul li a:hover {
  color: #333199;
  transition: all 0.3s;
  

  background: rgb(216,43,46);
  background: linear-gradient(90deg, rgba(216,43,46,0.7077205882352942) 0%, rgba(216,43,46,0.7077205882352942) 35%);  
}

.container-bar shadow {
  color: gainsboro;

  background: rgb(136,136,136);
  background: linear-gradient(90deg, rgba(136,136,136,0.4023984593837535) 0%, rgba(138,138,138,0.5732668067226891) 0%);
}

.logo-go {
  display: inline-block;
 
 margin-top: -20px;
 flex-direction: row;
  position: center ;
  justify-content: space-between;
}
  


.search_bar {
    width: 13%;
    float: right;
    /*padding: -20px 0px;*/
    box-sizing: border-box;
    text-align: center;
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    position: center;
}

.search_bar input {
    width: 100%;
    padding: 0px 10px 0px 40px;
    box-sizing: border-box;
    height:25px;
    
    font-size: 14px;
    font-family: "menlo";
    color: #333199;
    display: inline-block;

    background: #ffff url("../img/buscar-icon.png") no-repeat 9px center;
}

.pokemon-list{
  padding: 130px 20px 20px 20px;
  margin: 10px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  padding-left: 160px;
  
}

#pokemon-listing{
  max-height: 500px;
}

.pokemon-item-container {
  width: 20%;
  height: 30%;
  background-color: white;
  border-radius: 10%;
  margin-left: 40px;
  margin-right: 100px;
  margin-bottom: 40px;
  padding: auto;

}

.pokemon-item-img {
  padding-left: 30%;
  padding-top: 8%;
   
}

.pokemon-item-name {
  padding-left: 35%;
}